<mat-jumbotron>
    <mat-jumbotron-content>
        <img src="../../assets/img/initiations.jpg">
        <h1 class="jumboText">Initiation aux soins
        </h1>
    </mat-jumbotron-content>
</mat-jumbotron>

<div class="container-fluid">
    <div class="row justify-content-center no-gutters">
        <div class="col-xs-12 order-xs-last col-sm-4 col-md-2 text-align-center">
                <app-contact-info></app-contact-info>
        </div>
        <div class="col-xs-12 order-xs-first col-sm-8 col-md-6 text-align-center containerInitiation">
            <h1 class="initiation__Title"></h1>
            <!--      <h2 class="initiattion__Subtitle">
                </h2> -->
            <div class="initiation__TextContent">
                <p>Vous souhaitez vous formez à des techniques de guérison. N’importe qui peut apprendre une technique
                    de guérison par les mains. Elles peuvent être utilisée pour vous guérir vous-même et les autres.
                    La formation peut se faire en séance individuel ou par groupe de 10 personnes. Vous êtes initiés et
                    vous repartez avec un fascicule.
                    Votre rôle dans le processus de guérison est d’agir comme un canal pour l’Amour de Dieu,
                    l’Univers... enfin vous prendrez le terme qui vous correspond le mieux selon vos croyances.
                    Il ne devra y avoir aucune intervention d’ego de votre part. Il est essentiel que chaque fois qu’une
                    guérison aura lieu, elle doit être faite sans ego de la part du guérisseur.
                </p>
            </div>
            <h2 class="initiation__Subtitle">Initiation au LaHoChi</h2>
            <div class="initation__TextContent">
                <p>Le LaHoChi est une technique de soins énergétiques puissante et douce à la fois.
                    Elle est transmise par l’imposition des mains qui apporte une très haute fréquence de la lumière. Il
                    est considéré par certains comme une forme de Reiki.
                    <br>
                    <br>
                    L’énergie reçue diffère cependant un peu dans son ressenti qui est plus «chaud», plus enveloppant,
                    plus «rond» presque maternel et induit une sensation profonde
                    de relaxation, de détente, de bien-être presque immédiatement même chez les personnes les plus
                    tendues.

                    <br><br>
                    Le son «La» dans LaHoChi fait référence à la lumière, l’amour et la sagesse venant des fréquences du
                    Christ ( l’Amour inconditionnel).
                    Le son «Ho» fait référence au mouvement de cette énergie, et le son «Chi» est la force de vie.

                    <br>
                    <br>
                    Le LaHoChi retisse le champ d’énergie d’une personne (aura) en réparant les brèches, les déchirures
                    et les régions endommagées par toutes sortes d’influences
                    comme une naissance difficile, une opération chirurgicale, la radiation ( chimiothérapie, scanner,
                    IRM par exemple), la drogue et les addictions diverses ( tabac, alcool, nourriture, médicaments...),
                    les accidents, les blessures anciennes et présente de la vie, tous types de traumatismes, les
                    intoxications environnementales, les programmations négatives et les tendances génétiques.
                    <br>
                    <br>
                    1- Le LaHoChi équilibre le système nerveux et impacte directement et positivement la circulation du
                    liquide intra-cranien. Le système nerveux est le centre de traitement et d’intégration de la pensée,
                    des émotions, et de la conscience.
                    Il assure la réception et le transmission des informations de nos sens mais aussi leur intégration
                    pour répondre aux stimulis de cette nature.
                    <br>
                    <br>
                    2- Le LaHoChi maintient l’équilibre de toutes les constantes vitales de notre corps à commencer par
                    les liquides: sang, lymphe, eau, liquide céphalo-rachidien etc...
                    <br>
                    <br>
                    3- Le LaHoChi en libérant rapidement tout ce qui entrave le bon fonctionnement du système
                    énergétique du corps, rend aux chakras une capacité de fonctionnement optimale. Ce qui aura un
                    impact global et holistique, notamment sur l’aura, c’est-à-dire , le champ énergétique d’une
                    personne.
                    L’aura trouve sa source dans la qualité et la puissance des chakras qui la compose et la structure.
                    <br>
                    <br>
                    4- Le LaHoChi ancre, centre, nous ramène au présent. Peut-être êtes vous de ces personnes qui se
                    cognent régulièrement, chutent facilement, absentes, distraites, maladroites ou passent inaperçues,
                    qui êtes systématiquement en retard à un rendez-vous, qui avez des difficultés à mémoriser... Vous
                    manquez d’ancrage, de centrage..

                    <br>
                    <br>
                    5- Le LaHoChi nettoie nos mémoires cellulaires. Ces mémoires seraient à l’origine de nos schémas de
                    vie, répétitifs, négatifs, de nos croyances et comportements limitants dont la maladie fait partie.
                    <br>
                    <br>
                    6- Le LaHoChi est un facilitateur de la méditation: il contribue à fluidifier l’entrée des pensées
                    et le maintien selon les possibilités de chacun dans le moment présent.
                    <br>
                    <br>
                    7- Le LaHoChi dégage également les blocages électriques qui sont souvent à notre insu stockés dans
                    notre corps, créant stress, fatigue, tensions, migraines et douleurs etc..
                    <br>
                    <br>
                    Pourquoi se former au LaHoChi ?! La réponse est simple. Il augmente notre vitalité et notre
                    bien-être, renforce notre estime de soi, notre confiance en nos capacités, c’est un véritable outil
                    de développement personnel.
                    Sans oublier, qu’il nous aide à développer nos dons et nos talents.
                    <br>
                    <br>
                    S’initier à cette énergie LaHoChi, nous fait grandir un peu plus chaque jour, et laisse apparaître
                    non seulement, la disparition de nos maux physiques et c’est important, mais surtout la personne que
                    nous sommes réellement,
                    pleine, entière, joyeuse emplie de compassion et d’amour, pour elle-même, mais aussi pour les
                    autres, ce qui est traduit inévitablement par un bien être immense, une joie de vivre intense, et
                    l’envie d’aller de l’avant !
                    <br>
                    <br>
                </p>
                <h2 class="initiation__Subtitle">Le triangle doré d’Isis</h2>
                <div class="initation__TextContent">
                    <p>
                        Le système de Guérison du Triangle d’Or (ou Doré) est un système spirituel issu de l’Ancienne
                        Égypte en lien avec la déesse Isis. Cette énergie à haute fréquence a été redécouverte en 1986
                        par James Purner.
                        <br>
                        <br>
                        L’initiation est préférentiellement transmise à des personnes ayant déjà fait un cheminement
                        personnel spirituel et ayant déjà reçu au moins une initiation.
                        Le système active la croissance personnelle de l’initié, l’aide à s’accorder avec son féminin
                        sacré.
                        <br>
                        <br>
                        C’est un outil de guérison très puissant reconnu pour son aide puisqu’il augmente les capacités
                        mentales et télépathiques du praticien par la stimulation efficace qu’il a sur le troisième œil.
                        Une fois que vous êtes initié, vous pouvez activer cette énergie pour vus guérir vous-même, pur
                        les soins à autrui, en direct u à distance. Le Triangle Doré peut être utilisé en combinaison
                        avec d’autres systèmes d’énergie de guérison, comme le Reiki par exemple.
                        <br>
                        <br>
                        Lors de l’initiation vous apprendrez :
                        <br>
                        <br>
                    </p>
                    <ul>
                        <li>1- la redécouverte du système d guérison par James J.Purner
                        </li>
                        <li>2- à connaître la Déesse Isis et nous connecter à elle-même
                        </li>
                        <li>3- à recevoir et transmettre l’initiation
                        </li>
                        <li>4- à dispenser un soin
                        </li>
                        <li>5- à stimuler votre troisième œil, pour augmenter vos capacités télépathiques et
                            spirituelles
                        </li>
                        <li>
                            6- nous connecter et travailler avec l’énergie du Triangle Doré
                        </li>
                    </ul>
                    <br>
                    <br>
                    <p>
                        Cette initiation, vous apportera guérison, vous ouvrira des portes, de nouveaux horizons et
                        plein d’autres belles surprises.
                    </p>
                </div>
            </div>
        </div>
    </div>