

<div class="container-fluid">
    <div class="row justify-content-center no-gutters">
        <div class="col-xs-12 order-xs-last col-sm-4 col-md-2 text-align-center">
                <app-contact-info></app-contact-info>
        </div>
        <div class="col-xs-12 order-xs-first col-sm-8 col-md-6 text-align-center containerYoga">
            <h1 class="soinTitle"></h1>
            <h2 class="soinSubtitle">Qu’est ce que le Yoga du Rire?
            </h2>
            <div class="yoga__TextContent">
                <p>Le yoga du rire a été créé par Dr Madan Kataria, médecin originaire d’Inde, assisté de sa femme,
                    professeur de yoga, avec seulement 5 personnes dans un parc à Mumbai en 1995.
                    Il y a des milliers de Clubs de Rire dans plus de 72 pays. Le yoga du rire est un exercice qui
                    combine le rire avec la respiration du yoga (pranayama). Notre corps et notre cerveau reçoivent
                    ainsi plus d’oxygène,
                    nous nous sentons plus énergiques et en meilleur forme. N’importe qui peut rire sans avoir recours à
                    l’humour, aux blagues ou à la comédie.
                    <br>
                    <br>
                    Le rire est d’abord simulé en groupe comme un exercice physique en maintenant un contact visuel avec
                    les autres et en encourageant l’espièglerie enfantine. Dans la plupart des cas, cela conduit au rire
                    réel et contagieux.
                    La science a prouvé que le corps ne peut pas différencier entre le rire simulé et le rire réel. On
                    obtient les mêmes avantages physiologiques et psychologiques.

                </p>
            </div>
            <h2 class="yoga__btitle">Comment se déroule une séance de Yoga du Rire?
            </h2>
            <div class="yoga__TextContent">
                <p>Une séance de Yoga du Rire commence avec des techniques d’échauffement simple qui comprennent des
                    étirements, du chant, taper dans ses mains et des mouvements du corps.
                    <br>
                    Les soins énergétiques, en général, permettent le plus souvent d’améliorer la santé.
                    Si la médecine traditionnelle détermine qu’une maladie peut-être guérie, alors les soins
                    énergétiques accéléreront le processus de guérison.
                    <br>
                    Les exercices de respiration sont utilisés pour préparer les poumons à rire, suivis d’une série
                    «d’exercices de rire» qui combinent les méthodes de techniques de jeu et de visualisation avec
                    espièglerie. Scientifiquement il a été prouvé que 20 minutes de rire sont suffisantes pour
                    développer des bienfaits physiologiques complets.
                    <br>
                    <br>
                    Une séance de Yoga du Rire peut se terminer avec la méditation du rire. Les participants s’assoient
                    ou s’allongent et permettent au rire spontané d’avoir libre cours et de jaillir. C’est une
                    expérience puissante, saine, qui provoque un sentiment de libération et de joie qui peut durer
                    plusieurs jours.
                    <br>
                    Vous souhaitez libérer votre enfant intérieur et vous reconnectez à votre joie de vivre, venez nous
                    rejoindre lors d’une séance de Yoga du Rire.

                </p>
            </div>
        </div>
    </div>
</div>