<mat-jumbotron>
    <mat-jumbotron-content>
        <img
        src="../../assets/img/soins.png">
        <h1 class="jumboText">LES SOINS</h1>
    </mat-jumbotron-content>
</mat-jumbotron>

<div class="container-fluid">
    <div class="row justify-content-center no-gutters">
    <div class="col-xs-12 order-xs-last col-sm-4 col-md-2 text-align-center">
            <app-contact-info></app-contact-info>
    </div>
    <div class="col-xs-12 order-xs-first col-sm-8 col-md-6 text-align-center containerSoins">
        <h1 class="soinTitle"></h1>
            <h2 class="soinSubtitle">Qu’est ce qu’un soin énergétique ?
                </h2>
            <div class="soinTextContent">
                <p>Un soin énergétique c’est d’abord un moment de profonde relaxation que l’on s’offre pour se rendre disponible à soi-même, ce qui contribue à apaiser le stress.
                    <br>
                    Son objectif est d’élever et d’équilibrer l’énergie vitale pour faciliter la relance de vos processus d’auto-guérison de façon à retrouver la santé physique mais aussi psychique.
                         
                        Il agit sur la globalité de l’être dans ses dimensions physique, affective, mentale et spirituelle et s’adresse à toute personne quel 
                        que soit son âge qui souhaite améliorer son mieux-être tout en complétant efficacement un éventuel traitement médical.
                    <br> 
                </p>
            </div>
            <h2 class="soinSubtitle">Quels sont les effets des soins énergétiques ?
                </h2>
            <div class="soinTextContent">
                <p>Lors d’une consultation directe, les effets des soins énergétiques sont immédiats : on enlève des douleurs, des blocages et cela a un impact direct sur les émotions discordantes. 
                    Les soins énergétiques transmis à distance travailleront sur le long terme et la gestion des émotions.
                    <br>

                        Les soins énergétiques, en général, permettent le plus souvent d’améliorer la santé.
                        Si la médecine traditionnelle détermine qu’une maladie peut-être guérie, alors les soins énergétiques accéléreront le processus de guérison.
                        <br>
                        Par contre, si la médecine traditionnelle détermine que la maladie ne peut pas être guérie, alors les soins énergétiques permettront d’alléger les souffrances causées par la maladie. 
                        <br>
                        
                        Phobies, stress, peurs, anxiété, découragement, grande fatigue, difficultés relationnelles, troubles énergétiques et émotionnels consécutifs à des chimiothérapies sont quelques-uns des symptômes traités efficacement par les techniques de soin énergétique.
                        <br>
                        Les soins énergétiques permettent également d’effacer des mémoires cellulaires discordantes. Donc de libérer le patient des traumatismes inconscients qui trouvent leurs origines dans la petite enfance ou dans le ventre de la mère.
                        <br>
                        Les soins énergétiques apportent également une aide appréciable en cas de sevrage aux dépendances ( tabac, alcool, stupéfiants, etc.)
                </p>
            </div>
            <p>Les soins énergétiques stimulent la guérison et apportent :
                 </p>
                 <ul>
                     <li>un regain d’énergie</li>
                     <li>l’amélioration de la vitalité</li>
                     <li>le renforcement du système immunitaire
                        </li>
                     <li>le soulagement de la douleur et des inflammations
                        </li>
                     <li>la stimulations du processus de régénération cellulaires
                        </li>
                     <li>une réduction au stress
                        </li>
                     <li>un bien-être général
                        </li>
                     <li> la libération des blocages physiques, émotionnel, mentaux
                        </li>
                     <li>la paix intérieure</li>
                     <li> l’harmonisation globale de l’être aux niveaux physique, émotionnel, mental et spirituel</li>
                     <li>alignement corps, âme et esprit
                        </li>
                     <li>l’épanouissement spirituel
                        </li>
                 </ul>
                <p>Tous ces bienfaits optimiseront votre vie et harmoniseront vos relations avec les autres et ils vous permettront de retrouver la joie de vivre et la confiance en vous.  
                    </p>
                <p>IMPORTANT: 
                        Ces soins énergétiques peuvent se réaliser aussi bien au cabinet qu’à distance.
                        Si vous souhaitez un soin énergétique avec l’énergie du LaHoChi, le soin sera encore disponible pendant 3 jours où vous pourrez, à votre rythme, profiter de celle-ci.
                        <br>
                        Après la première séance, pour donner à chaque séance le temps d’agir complètement car chaque personne réagit différemment à l’énergie et en règle générale, je propose une deuxième séance 15 jours après la première. Ensuite, nous discutons ensemble des résultats.
                         Mon but n’est pas de vous voir le plus souvent possible mais le plus efficacement possible !
                        <br>
                        
                        Libre à vous aussi, pour rester détendu(e) et vous assurer un bien-être régulier toute l’année, de venir une fois par mois.
                        <br>
                        A vous maintenant d’expérimenter cette thérapie énergétique !
                        <br>
                        PS: Le LaHoChi rend aussi d’innombrables «services» à nos compagnons animaux ! c’est un plus !    
                        </p>

    </div>
    </div>
</div>