<mat-jumbotron>
    <mat-jumbotron-content>
        <img src="../../assets/img/devPerso.jpg" style="width:600; margin: 0 600px">
        <h1 class="jumboText">Page de développement personnel
        </h1>
    </mat-jumbotron-content>
</mat-jumbotron>


<div class="container-fluid">
    <div class="row justify-content-center no-gutters">
        <div class="col-xs-12 order-xs-last col-sm-4 col-md-2 text-align-center">
                <app-contact-info></app-contact-info>
        </div>
        <div class="col-xs-12 order-xs-first col-sm-8 col-md-6 text-align-center containerAtelier">
            <h1 class="initiation__Title"></h1>
            <!--      <h2 class="initiattion__Subtitle">
                    </h2> -->
            <div class="devPerso__TextContent">
                <p>Vous souhaitez vous améliorer, devenir la meilleure version de vous-même. Ces ateliers sont fait pour
                    vous !
                    Et oui, il est grand temps d’apprendre à s’aimer, se respecter, s’accepter totalement et de révéler
                    la personne que vous êtes vraiment sans masques, en étant maître de vos émotions,
                    en lâchant tous les mécanismes qui vous tirent vers le bas. Le but « être» en accord avec votre moi
                    profond.
                    <br>
                    <br>
                    Nous pouvons toutes et tous aspirer à l’éveil. Mais pour cela, il faut arrêter d’être dans le déni
                    de ce qui ne va pas dans nos vie et faire preuve de bienveillance envers nous-même.
                    La solution prendre nos responsabilités et faire preuve de discernement. Ce n’est pas facile
                    d’admettre les dysfonctionnements dans nos vies ( blocages, schémas répétitifs...).
                    Les ateliers de développement personnel sont là pour vous aider à prendre conscience de ce qui ne va
                    plus dans votre vie, d’accepter et de comprendre vos comportements afin de vous libérer de vos
                    conditionnements et de vos croyances. Tout un programme !
                    <br>
                    <br>
                    Durant les ateliers des thèmes bien spécifiques sont abordés, si vous vous sentez concernés alors
                    ces ateliers sont fait pour vous !
                    <br>
                    <br>
                </p>
                <p>Exemples d’ateliers :</p>
                <ul>
                    <li>- la gestion des émotions
                    </li>
                    <li>- les relations toxiques</li>
                    <li>- la dépendance affective
                    </li>
                    <li>- comment atteindre la complétude ?
                    </li>
                </ul>
            </div>
        </div>



