<!-- <nav class="navbar navbar-expand-lg navbar-light"> -->
    <!-- <button class="navbar-toggler" 
    type="button" data-toggle="collapse" 
    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button> -->

<!--     fxFlex fxShow="”true”" fxHide.sm="”true”" -->

   <!--  <mat-toolbar color="primary">
        <span>Responsive Navigation</span> <span class="example-spacer"></span>
          <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
            <div class="navbar-nav m-auto">
              <a class="nav-item nav-link" [routerLinkActiveOptions]="{ exact: true }" routerLink="/accueil" routerLinkActive="active-link">Accueil</a>
              <a class="nav-item nav-link" routerLink="/ateliers" routerLinkActive="active-link">Ateliers</a>
              <a class="nav-item nav-link" routerLink="/evenements" routerLinkActive="active-link">Evenements</a>
              <a class="nav-item nav-link" routerLink="/initiations" routerLinkActive="active-link">Initiations</a>
              <a class="nav-item nav-link" routerLink="/soins" routerLinkActive="active-link">Soins Energétiques</a>
              <a class="nav-item nav-link" routerLink="/soins-chamaniques" routerLinkActive="active-link">Soins Chamaniques</a>
              <a class="nav-item nav-link" routerLink="/yoga" routerLinkActive="active-link">Yoga</a>
              <a class="nav-item nav-link" routerLink="/temoignages" routerLinkActive="active-link">Temoignage</a>
              <a class="nav-item nav-link" routerLink="/tarifs" routerLinkActive="active-link">Tarifs</a>
            </div>
          </div>
    </mat-toolbar> -->

<!-- </nav> -->

<!-- <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav fxLayout="column" mode="side" opened="false">
      <mat-nav-list>
            <a class="nav-item nav-link" [routerLinkActiveOptions]="{ exact: true }" routerLink="/accueil" routerLinkActive="active-link">Accueil</a>
            <a class="nav-item nav-link" routerLink="/ateliers" routerLinkActive="active-link">Ateliers</a>
            <a class="nav-item nav-link" routerLink="/evenements" routerLinkActive="active-link">Evenements</a>
            <a class="nav-item nav-link" routerLink="/initiations" routerLinkActive="active-link">Initiations</a>
            <a class="nav-item nav-link" routerLink="/soins" routerLinkActive="active-link">Soins Energétiques</a>
            <a class="nav-item nav-link" routerLink="/soins-chamaniques" routerLinkActive="active-link">Soins Chamaniques</a>
            <a class="nav-item nav-link" routerLink="/yoga" routerLinkActive="active-link">Yoga</a>
            <a class="nav-item nav-link" routerLink="/temoignages" routerLinkActive="active-link">Temoignage</a>
            <a class="nav-item nav-link" routerLink="/tarifs" routerLinkActive="active-link">Tarifs</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>  -->

<!-- prevoir une condition pour faire apparaitre quand sommes en mobile  -->
<!-- <app-navigation-side
  *ngIf="hidden === false"
></app-navigation-side> -->

<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <div class="navigation" fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
          <a class="navigation_link" [routerLinkActiveOptions]="{ exact: true }" routerLink="/accueil" routerLinkActive="active-link">Accueil</a>
          <a class="navigation_link" routerLink="/ateliers" routerLinkActive="active-link">Ateliers</a>
          <a class="navigation_link" routerLink="/evenements" routerLinkActive="active-link">Evenements</a>
          <a class="navigation_link" routerLink="/initiations" routerLinkActive="active-link">Initiations</a>
          <a class="navigation_link" routerLink="/soins" routerLinkActive="active-link">Soins Energétiques</a>
          <a class="navigation_link" routerLink="/soins-chamaniques" routerLinkActive="active-link">Soins Chamaniques</a>
          <a class="navigation_link" routerLink="/yoga" routerLinkActive="active-link">Yoga</a>
          <a class="navigation_link" routerLink="/temoignages" routerLinkActive="active-link">Temoignages</a>
          <a class="navigation_link" routerLink="/tarifs" routerLinkActive="active-link">Tarifs</a>
    </div>

    <div fxShow="true" fxHide.gt-sm="true">
      <a (click)="sidenav.toggle()">Show sidebar</a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
        <a class="navigation_link_mobile"[routerLinkActiveOptions]="{ exact: true }" routerLink="/accueil" routerLinkActive="active-link">Accueil</a>
        <a routerLink="/ateliers" routerLinkActive="active-link">Ateliers</a>
        <a routerLink="/evenements" routerLinkActive="active-link">Evenements</a>
        <a routerLink="/initiations" routerLinkActive="active-link">Initiations</a>
        <a routerLink="/soins" routerLinkActive="active-link">Soins Energétiques</a>
        <a routerLink="/soins-chamaniques" routerLinkActive="active-link">Soins Chamaniques</a>
        <a routerLink="/yoga" routerLinkActive="active-link">Yoga</a>
        <a routerLink="/temoignages" routerLinkActive="active-link">Temoignage</a>
        <a routerLink="/tarifs" routerLinkActive="active-link">Tarifs</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>